{% extends 'interviewer_layout.html' %}
{% block content %}
      <table class="table table-striped" style="width:100%;">
        <thead>
          <tr>

            <th>Applicant ID</th>
              <th>Date</th>
            <th>Feedback form</th>
          </tr>
        </thead>
        <tbody>
          {% for interview in interviews %}
              <tr>
                <td>interview.id</td>
                <td>interview.id</td>
                <td><a class="btn btn-primary" href="{{ url_for('interview_feedback_form',application_id=interview.application_id) }}">Upload</a></td>
              </tr>
          {% endfor %}
        </tbody>
    </table>


{% endblock %}