<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	  <!--<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">-->

    <title>Candidate Application </title>
  </head>


  <body>
    {% block content %}
    <div class="container">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        <fieldset class="form-group" style="width:60%" name="candidate_personal">
          <div class="container" name="candidate_personal_details">
          <div class="content-section">
            <h6>Personal Details</h6>
          </div>
          <br>
          <table class="table table-striped">
             <tr>
              <th scope="col"> {{ form.firstname.label(class="form-control-label") }} </th>
              <th scope="col"> {{ form.lastname.label(class="form-control-label") }} </th>
             </tr>
             <tr>
              <th scope="col"> {{ form.firstname(class="form-control-label") }} </th>
              <th scope="col"> {{ form.lastname(class="form-control-label") }} </th>
             </tr>
             <tr>
              <th scope="col"> {{ form.email.label(class="form-control-label") }} </th>
              <th scope="col"> {{ form.contact.label(class="form-control-label") }} </th>
             </tr>
             <tr>
              <th scope="col"> {{ form.email(class="form-control-label") }} </th>
              <th scope="col"> {{ form.contact(class="form-control-label") }} </th>
             </tr>
             <tr>
              <th scope="col"> {{ form.residential_address.label(class="form-control-label") }} </th>
              <th scope="col"> {{ form.pancard.label(class="form-control-label") }} </th>
             </tr>
             <tr>
              <th scope="col"> {{ form.residential_address(class="form-control-label") }} </th>
              <th scope="col"> {{ form.pancard(class="form-control-label") }} </th>
             </tr>
          </table>
        </div>
      </fieldset>
      <br>


      <fieldset class="form-group" style="width:60%" name="candidate_education">
        <div class="container" name="candidate_education_details">
        <div class="content-section">
          <h6>Education Details</h6>
        </div>
        <br>
        <table class="table table-striped">
           <tr>
            <th scope="col"> {{ form.institutename.label(class="form-control-label") }} </th>
            <th scope="col"> {{ form.instituteplace.label(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.institutename(class="form-control-label") }} </th>
            <th scope="col"> {{ form.instituteplace(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.nameofthedegree.label(class="form-control-label") }} </th>
            <th scope="col"> {{ form.percentage.label(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.nameofthedegree(class="form-control-label") }} </th>
            <th scope="col"> {{ form.percentage(class="form-control-label") }} </th>
           </tr>
        </table>
        <br>
        <div class="form-group">
          <a ><button type="button" class="btn btn-primary">+Add More</button></a>
        </div>
      </div>
    </fieldset>
    <br>
    <br>

    <fieldset class="form-group" style="width:60%" name="candidate_profession">
      <div class="container" name="candidate_professional_details">
      <div class="content-section">
        <h6>Professional Details</h6>
      </div>
      <br>
      <table class="table table-striped">
         <tr>
          <th scope="col"> {{ form.currentposition.label(class="form-control-label") }} </th>
          <th scope="col"> {{ form.yearsofexperience.label(class="form-control-label") }} </th>
         </tr>
         <tr>
          <th scope="col"> {{ form.currentposition(class="form-control-label") }} </th>
          <th scope="col"> {{ form.yearsofexperience(class="form-control-label") }} </th>
         </tr>
         <tr>
          <th scope="col"> {{ form.companyname.label(class="form-control-label") }} </th>
          <th scope="col"> {{ form.location.label(class="form-control-label") }} </th>
         </tr>
         <tr>
          <th scope="col"> {{ form.companyname(class="form-control-label") }} </th>
          <th scope="col"> {{ form.location(class="form-control-label") }} </th>
         </tr>
         <tr>
          <th scope="col"> {{ form.skillsets.label(class="form-control-label") }} </th>
          <th scope="col"> {{ form.linkedinprofile.label(class="form-control-label") }} </th>
         </tr>
         <tr>
          <th scope="col"> {{ form.skillsets(class="form-control-label") }} </th>
          <th scope="col"> {{ form.linkedinprofile(class="form-control-label") }} </th>
         </tr>
      </table>
      </div>
  </fieldset>
  <br>


      <fieldset class="form-group" style="width:60%" name="candidate_compensation">
        <div class="container" name="candidate_compensation_details">
        <div class="content-section">
          <h6>Compensation Details</h6>
        </div>
        <br>
        <table class="table table-striped">
           <tr>
            <th scope="col"> {{ form.expectedctc.label(class="form-control-label") }} </th>
            <th scope="col"> {{ form.currentctc.label(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.expectedctc(class="form-control-label") }} </th>
            <th scope="col"> {{ form.currentctc(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.noticeperiod.label(class="form-control-label") }} </th>
            <th scope="col"> {{ form.buyoutoption.label(class="form-control-label") }} </th>
           </tr>
           <tr>
            <th scope="col"> {{ form.noticeperiod(class="form-control-label") }} </th>
            <th scope="col"> {{ form.buyoutoption(class="form-control-label") }} </th>
           </tr>
        </table>
        <br>
        <div class="form-group">
          {{ form.submit(class='btn btn-outline-info') }}
        </div>
        </div>
    </fieldset>
    <br><br><br>
      </form>
    </div>
      {% endblock %}
  </body>
</html>
