<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Candidate Registration</title>
  </head>
-->
{% extends 'candidate_layout.html' %}
{% block content %}
    <div class="container">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <br>
        <fieldset class="form-group" style="width:60%">
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-md is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.email.errors %}
                              <span>
                                  {{ errors }}
                              </span>
                          {% endfor %}
                      </div>
              {% else %}
                  {{ form.email(class="form-control form-control-md") }}
              {% endif %}
          </div>
          <br>
          <div class="form-group">
            {{ form.create_password.label(class="form-control-label") }}
              {% if form.create_password.errors %}
                  {{ form.create_password(class="form-control form-control-md is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.create_password.errors %}
                              <span>
                                  {{ errors }}
                              </span>
                          {% endfor %}
                      </div>
              {% else %}
                  {{ form.create_password(class="form-control form-control-md") }}
              {% endif %}
          </div>
          <br>
          <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
              {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-md is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.confirm_password.errors %}
                              <span>
                                  {{ errors }}
                              </span>
                          {% endfor %}
                      </div>
              {% else %}
                  {{ form.confirm_password(class="form-control form-control-md") }}
              {% endif %}
          </div>
        </fieldset>
        <br>
        <div class="form-group">
          {{ form.submit(class='btn btn-outline-info') }}
        </div>
        <br>
        <div class="container-md">
          <small class="text-muted">
            Already Registered? <a class="ml-2" href="{{ url_for('candidateLogin') }}"> Login </a>
          </small>
        </div>
      </form>
    </div>
{% endblock %}
