{% extends 'manager_layout.html' %}
{% block content %}
        <table class="table-striped" border="1" style="width:100%; border-collapse: collapse; border: 3px solid deepskyblue;" >
        <tr>
        <th>Candidate ID</th><td>{{ cur_candidate.id}}</td>
        </tr>
        <tr>
        <th>Candidate FirstName</th><td>{{ cur_candidate.first_name}}</td>
        </tr>
        <tr>
        <th>Candidate LastName</th><td>{{ cur_candidate.last_name}}</td>
        </tr>
        <tr>
        <th>Contact Number</th><td>{{ cur_candidate.contact_number}}</td>
        </tr>
        <tr>
        <th>Candidate Email</th><td>{{ cur_candidate.email}}</td>
        </tr>
        <tr>
        <th>Candidate Pan</th><td>{{ cur_candidate.pan_card}}</td>
        </tr>
        <tr>
        <th>Candidate Location</th><td>{{ cur_candidate.current_location}}</td>
        </tr>
        <tr>
        <th>Candidate Name</th><td>{{ cur_candidate.first_name}}</td>
        </tr>

        </table>

{% endblock %}

