{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom-b-mb-4">
            Add new Interviewer
        </legend>
        <form method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}
                {%  if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.first_name.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {%  if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.last_name.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.contact_number.label(class="form-control-label") }}
                {%  if form.contact_number.errors %}
                    {{ form.contact_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.contact_number.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contact_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {%  if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.email.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <h6>Note: A default password is assigned. When the interviewer first logs in, they will be
            prompted to change their password.</h6>
            <div class="form-group">
                <p>Password: password</p>
            </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}