{% extends 'manager_layout.html' %}
{% block content %}
      <table class="table table-striped" style="width:100%;">
        <thead>
          <tr>

            <th scope="col">Candidate Name</th>
            <th scope="col">Details</th>
            <th scope="col">History</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          {% if candidate.status == 'HIRE' %}
          <tr>
            <td><b>{{ candidate.first_name }} {{candidate.last_name}}</b></td>
            <td> <a class="btn btn-primary">Info</a></td>
            <td> <a class="btn btn-primary">Interviews</a></td>
            <!-- <td> <a ><button type="button" class="btn btn-primary">Update</button></a></td> -->
            <td>Hired</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
    </table>


{% endblock %}