{% extends 'manager_layout.html' %}
{% block content %}
      <table class="table table-striped" style="width:100%;">
        <thead>
          <tr>

            <th scope="col">Candidate Name</th>
            <th scope="col">Details</th>
            <th scope="col">History</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for application in applications %}

              {% if application.status == 'none' and application.push %}
              <tr>
                {% for candidate in candidates %}
                      {% if candidate.id == application.candidate_id %}
                        <td><b>{{ candidate.first_name }} {{ candidate.last_name }}</b></td>
                      {% endif %}
                {% endfor %}
                <td> <a class="btn btn-primary" href="{{ url_for('info', candidate_id = application.candidate_id) }}">Details</a></td>
                <td> <a class="btn btn-primary" href="{{ url_for('candidate_interviews', application_id = application.id) }}">Interviews</a></td>
                <td> <a class="btn btn-primary" href="{{ url_for('manager_feedback', application_id = application.id) }}">Update</a></td>
              </tr>
              {% endif %}
          {% endfor %}
        </tbody>
    </table>


{% endblock %}