{% extends 'manager_layout.html' %}
{% block content %}
    <p><b>Candidate_Name : {{ cur_candidate.first_name }}</b></p>
        {% for interview in interviews %}
            <table class="table-striped m-md-5" border="1" style="width:80%; border-collapse: collapse; border: 3px solid deepskyblue;">
                <tr>
                <th>Interview</th><td>{{ interview.round }}</td>
                </tr>
                <tr>
                <th>Round Number</th><td>{{ interview.round }}</td>
                </tr>
                <tr>
                <th>Feedback</th><td>{{ interview.feedback }}</td>
                </tr>
                <tr>
                <th>Selected</th><td>{{ interview.next_round }}</td>
                </tr>
        </table>
        {% endfor %}
{% endblock %}
