{% extends 'manager_layout.html' %}
{% block content %}
      <table class="table table-striped">
        <thead>
          <tr>

            <th scope="col">Candidate Name</th>
            <th scope="col">Details</th>
            <th scope="col">History</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}

          <tr>
            <td><b>{{ candidate.first_name }} {{candidate.last_name}}</b></td>
            <td> <a class="btn btn-primary" href="{{ url_for('info', candidate_id = candidate.id) }}">Info</a></td>
            <td> <a class="btn btn-primary" href="{{ url_for('candidate_interviews', candidate_id = candidate.id) }}">Interviews</a></td>
            {% if candidate.status == 'HIRE' %}
                <td>Hired</td>
            {% else %}
                <td> <a class="btn btn-primary" href="{{ url_for('manager_feedback') }}">Update</a></td>
            {% endif %}
          </tr>

          {% endfor %}
        </tbody>
    </table>


{% endblock %}