{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom-b-mb-4">
            Candidate Details
        </legend>
        <p> Name: {{ candidate.first_name + " " + candidate.last_name }}</p>
        <p> Contact number: {{ candidate.contact_number }}</p>
        <p> Email: {{ candidate.email }}</p>
    </div>
    <div class="content-section">
        <legend class="border-bottom-b-mb-4">
                Job Details
        </legend>
        <p> Job Code: {{ job.id }}</p>
        <p> Job title: {{ job.title }}</p>
    </div>
    <div class="content-section">
        <legend class="border-bottom-b-mb-4">
                Interviewer Details
        </legend>
        <p> Name: {{ interviewer.first_name + ' ' + interviewer.last_name }}</p>
        <p> Contact number: {{ interviewer.contact_number }}</p>
        <p> Email: {{ interviewer.email }}</p>
    </div>
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group"></div>
        </form>
    </div>
{% endblock %}