{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <div class="content-section">
            <h2>Candidate info</h2>
             <p>
                 Candidate name: {{ candidate.first_name + ' ' + candidate.last_name }}<br>
                 Candidate contact number: {{ candidate.contact_number }}<br>
                 Candidate email: {{ candidate.email }}<br>
                 <a href="#">Click here for all candidate details</a>
             </p>
        </div>
        <div class="content-section">
            <h2>Interviewer info</h2>
            <p>
                Interviewer name: {{ interviewer.first_name + ' ' + interviewer.last_name }}<br>
                Interviewer contact number: {{ interviewer.contact_number }}<br>
                Interviewer email: {{ interviewer.email }}
                <br>
                <a href="#">Click here for all interviewer details</a>
            </p>
        </div>
        <div class="content-section">
            <h2>Position information</h2>
            <p>
                Position code: {{ position.id }}<br>
                Position title: {{ position.title }}<br>
                Position description: todo: add desc to pos class
            </p>
        </div>
        <div class="content-section">
            <h2>Interview info</h2>
            <p>
                Date of interview: {{ interview.date }}<br>
                Interview start time: {{ interview.start_time }}<br>
                Interview end time: {{ interview.end_time }}<br>
                Round number: {{ application.round }}
            </p>
        </div>
        <a href={{ url_for('delete_interview',interview_id=interview.id) }}>Delete interview</a>
    </div>
{% endblock %}